In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import seaborn as sns
import os

In [2]:
telecom=pd.read_csv("training_data.csv")
telecom.head(10)

,City,Gender,Senior_Citizen,Tenure_Months,Phone_Service,Internet_Service,Streaming TV,Streaming Movies,Contract,Payment Method,Monthly Charges,Total_Charges,Churn
0,Los Angeles,Male,No,2,Yes,DSL,No,No,Month-to-month,Mailed check,53.85,108.15,Yes
1,Los Angeles,Female,No,2,Yes,Fiber optic,No,No,Month-to-month,Electronic check,70.70,151.65,Yes
2,Los Angeles,Female,No,8,Yes,Fiber optic,Yes,Yes,Month-to-month,Electronic check,99.65,820.5,Yes
3,Los Angeles,Female,No,28,Yes,Fiber optic,Yes,Yes,Month-to-month,Electronic check,104.80,3046.05,Yes
4,Los Angeles,Male,No,49,Yes,Fiber optic,Yes,Yes,Month-to-month,Bank transfer (automatic),103.70,5036.3,Yes
5,Los Angeles,Female,No,10,Yes,DSL,No,No,Month-to-month,Credit card (automatic),55.20,528.35,Yes
6,Los Angeles,Male,Yes,1,No,DSL,No,Yes,Month-to-month,Electronic check,39.65,39.65,Yes
7,Los Angeles,Male,No,1,Yes,No,No internet service,No internet service,Month-to-month,Mailed check,20.15,20.15,Yes
8,Los Angeles,Male,No,47,Yes,Fiber optic,Yes,Yes,Month-to-month,Electronic check,99.35,4749.15,Yes
9,Los Angeles,Male,No,1,No,DSL,No,No,Month-to-month,Electronic check,30.20,30.2,Yes

In [3]:
telecom.shape

(7043, 13)

In [4]:
telecom.shape
telecom.drop("City", axis=1, inplace=True)
telecom.tail(10)

,Gender,Senior_Citizen,Tenure_Months,Phone_Service,Internet_Service,Streaming TV,Streaming Movies,Contract,Payment Method,Monthly Charges,Total_Charges,Churn
7033,Female,No,2,Yes,No,No internet service,No internet service,Month-to-month,Mailed check,20.05,39.25,No
7034,Male,Yes,55,Yes,DSL,No,No,One year,Credit card (automatic),60.00,3316.1,No
7035,Male,No,38,Yes,Fiber optic,No,No,Month-to-month,Credit card (automatic),69.50,2625.25,No
7036,Male,No,19,Yes,Fiber optic,Yes,No,Month-to-month,Bank transfer (automatic),78.70,1495.1,No
7037,Female,No,12,No,DSL,Yes,Yes,One year,Electronic check,60.65,743.3,No
7038,Female,No,72,Yes,No,No internet service,No internet service,Two year,Bank transfer (automatic),21.15,1419.4,No
7039,Male,No,24,Yes,DSL,Yes,Yes,One year,Mailed check,84.80,1990.5,No
7040,Female,No,72,Yes,Fiber optic,Yes,Yes,One year,Credit card (automatic),103.20,7362.9,No
7041,Female,No,11,No,DSL,No,No,Month-to-month,Electronic check,29.60,346.45,No
7042,Male,No,66,Yes,Fiber optic,Yes,Yes,Two year,Bank transfer (automatic),105.65,6844.5,No

In [5]:
for col in telecom.columns:
    print(f"{col}: {telecom[col].nunique()} unique values")

Gender: 2 unique values
Senior_Citizen: 2 unique values
Tenure_Months: 73 unique values
Phone_Service: 2 unique values
Internet_Service: 3 unique values
Streaming TV: 3 unique values
Streaming Movies: 3 unique values
Contract: 3 unique values
Payment Method: 4 unique values
Monthly Charges: 1585 unique values
Total_Charges: 6531 unique values
Churn: 2 unique values

In [6]:
for col in telecom.columns:
    if telecom[col].dtype == 'object':
        telecom[col], _ = pd.factorize(telecom[col])

telecom.head(10)

,Gender,Senior_Citizen,Tenure_Months,Phone_Service,Internet_Service,Streaming TV,Streaming Movies,Contract,Payment Method,Monthly Charges,Total_Charges,Churn
0,0,0,2,0,0,0,0,0,0,53.85,0,0
1,1,0,2,0,1,0,0,0,1,70.70,1,0
2,1,0,8,0,1,1,1,0,1,99.65,2,0
3,1,0,28,0,1,1,1,0,1,104.80,3,0
4,0,0,49,0,1,1,1,0,2,103.70,4,0
5,1,0,10,0,0,0,0,0,3,55.20,5,0
6,0,1,1,1,0,0,1,0,1,39.65,6,0
7,0,0,1,0,2,2,2,0,0,20.15,7,0
8,0,0,47,0,1,1,1,0,1,99.35,8,0
9,0,0,1,1,0,0,0,0,1,30.20,9,0

In [7]:
telecom.tail()

,Gender,Senior_Citizen,Tenure_Months,Phone_Service,Internet_Service,Streaming TV,Streaming Movies,Contract,Payment Method,Monthly Charges,Total_Charges,Churn
7038,1,0,72,0,2,2,2,1,2,21.15,6526,1
7039,0,0,24,0,0,1,1,2,0,84.80,6527,1
7040,1,0,72,0,1,1,1,2,3,103.20,6528,1
7041,1,0,11,1,0,0,0,0,1,29.60,6529,1
7042,0,0,66,0,1,1,1,1,2,105.65,6530,1

In [8]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb
from sklearn.svm import LinearSVC
svm =LinearSVC()
from sklearn import svm
from sklearn.neural_network import MLPClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

# Load the churn dataset
telecom= pd.read_csv("training_data.csv")

# Split the data into features (X) and target (y)
X = telecom.drop("Churn", axis=1)
y = telecom["Churn"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1234)

# Train the base models on the training data
rf_model = RandomForestClassifier(random_state=1234)
rf_model.fit(X_train, y_train)

xgb_model = xgb.XGBClassifier(random_state=1234)
xgb_model.fit(X_train, y_train)

svm_model = LinearSVC(random_state=1234)
svm_model.fit(X_train, y_train)

nn_model = MLPClassifier(random_state=1234)
nn_model.fit(X_train, y_train)

knn_model = KNeighborsClassifier()
knn_model.fit(X_train, y_train)

lr_model = LogisticRegression(random_state=1234)
lr_model.fit(X_train, y_train)

dt_model = DecisionTreeClassifier(random_state=1234)
dt_model.fit(X_train, y_train)

# Use the base models to make predictions on the test data
rf_preds = rf_model.predict(X_test)
xgb_preds = xgb_model.predict(X_test)
svm_preds = svm_model.predict(X_test)
nn_preds = nn_model.predict(X_test)
knn_preds = knn_model.predict(X_test)
lr_preds = lr_model.predict(X_test)
dt_preds = dt_model.predict(X_test)

# Combine the predictions from the base models into a new feature set
base_predictions = np.column_stack((rf_preds, xgb_preds, svm_preds, nn_preds, knn_preds, lr_preds, dt_preds))

# Train a higher-level machine learning model on the combined feature set
stacked_model = LogisticRegression (random_state=1234)
stacked_model.fit(base_predictions, y_test)

ValueError: could not convert string to float: 'Huntington Beach'

In [ ]:
# Calculate the accuracy of each base model
rf_accuracy = accuracy_score(y_test, rf_preds)
xgb_accuracy = accuracy_score(y_test, xgb_preds)
svm_accuracy = accuracy_score(y_test, svm_preds)
nn_accuracy = accuracy_score(y_test, nn_preds)
knn_accuracy = accuracy_score(y_test, knn_preds)
lr_accuracy = accuracy_score(y_test, lr_preds)
dt_accuracy = accuracy_score(y_test, dt_preds)

# Calculate the accuracy of the stacked model
stacked_predictions = stacked_model.predict(base_predictions)
stacked_accuracy = accuracy_score(y_test, stacked_predictions)

# Print the accuracy of each model
print("Random Forest Accuracy: ", rf_accuracy)
print("XG Boosting Accuracy: ", xgb_accuracy)
print("Support Vector Machines Accuracy: ", svm_accuracy)
print("Neural Network Accuracy: ", nn_accuracy)
print("K-Nearest Neighbors Accuracy: ", knn_accuracy)
print("Logistic Regression Accuracy: ", lr_accuracy)
print("Decision Tree Accuracy: ", dt_accuracy)
print("Stacked Model Accuracy: ", stacked_accuracy)

In [ ]:
import matplotlib.pyplot as plt

# Plot the accuracy of each model
bar_width = 0.1

rf_bar = plt.bar(0, rf_accuracy, bar_width, color='blue')
xgb_bar = plt.bar(1 * bar_width, xgb_accuracy, bar_width, color='red')
svm_bar = plt.bar(2 * bar_width, svm_accuracy, bar_width, color='green')
nn_bar = plt.bar(3 * bar_width, nn_accuracy, bar_width, color='purple')
knn_bar = plt.bar(4 * bar_width, knn_accuracy, bar_width, color='orange')
lr_bar = plt.bar(5 * bar_width, lr_accuracy, bar_width, color='brown')
dt_bar = plt.bar(6 * bar_width, dt_accuracy, bar_width, color='pink')
stacked_bar = plt.bar(7 * bar_width, stacked_accuracy, bar_width, color='yellow')

# Add labels and title to the plot
plt.ylabel('Accuracy')
plt.xlabel('Models')
plt.title('Accuracy of Base Models and Stacked Model')

# Modify the legend
plt.legend((rf_bar, xgb_bar, svm_bar, nn_bar, knn_bar, lr_bar, dt_bar, stacked_bar), 
           ('Random Forest', 'XG Boosting', 'SVM', 'Neural Network', 'KNN', 'Logistic Regression', 'Decision Tree', 'Stacked Model'),
           loc='center', bbox_to_anchor=(0.5, -0.35), ncol=2)


# Show the plot
plt.show()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import itertools
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score, recall_score, matthews_corrcoef


# Function to plot the confusion matrix
def plot_confusion_matrix(y_true, y_pred, classes, title='Confusion matrix', cmap=plt.cm.Blues):
    cm = confusion_matrix(y_true, y_pred)
    plt.imshow(cm, interpolation='nearest', cmap=cmap)
    plt.title(title)
    plt.colorbar()
    tick_marks = np.arange(len(classes))
    plt.xticks(tick_marks, classes, rotation=45)
    plt.yticks(tick_marks, classes)
    thresh = cm.max() / 2.
    for i, j in itertools.product(range(cm.shape[0]), range(cm.shape[1])):
        plt.text(j, i, format(cm[i, j], 'd'), horizontalalignment="center", color="white" if cm[i, j] > thresh else "black")
    plt.tight_layout()
    plt.ylabel('True label')
    plt.xlabel('Predicted label')

# Plot the confusion matrix for each model
models = [("Random Forest", rf_preds), 
          ("XG Boosting", xgb_preds), 
          ("Support Vector Machines", svm_preds), 
          ("Neural Network", nn_preds), 
          ("K-Nearest Neighbors", knn_preds), 
          ("Logistic Regression", lr_preds), 
          ("Decision Tree", dt_preds), 
          ("Stacked Model", stacked_predictions)]

classes = ['Churned', 'Not Churned']

plt.figure(figsize=(15, 15))
for i, (name, preds) in enumerate(models):
    plt.subplot(4, 2, i+1)
    plot_confusion_matrix(y_test, preds, classes=classes, title=f"{name} Confusion Matrix")
    accuracy = accuracy_score(y_test, preds)
    plt.title(f"{name} - Accuracy: {accuracy:.3f}")
plt.tight_layout()
plt.show()

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score, f1_score, recall_score, matthews_corrcoef

# Base models
print("Random Forest:")
print("Confusion Matrix:")
print(confusion_matrix(y_test, rf_preds))
print("Accuracy:", accuracy_score(y_test, rf_preds))
print("F1 Score:", f1_score(y_test, rf_preds))
print("Recall:", recall_score(y_test, rf_preds))
print("MCC:", matthews_corrcoef(y_test, rf_preds))

print("\nXGBoost:")
print("Confusion Matrix:")
print(confusion_matrix(y_test, xgb_preds))
print("Accuracy:", accuracy_score(y_test, xgb_preds))
print("F1 Score:", f1_score(y_test, xgb_preds))
print("Recall:", recall_score(y_test, xgb_preds))
print("MCC:", matthews_corrcoef(y_test, xgb_preds))

print("\nSVM:")
print("Confusion Matrix:")
print(confusion_matrix(y_test, svm_preds))
print("Accuracy:", accuracy_score(y_test, svm_preds))
print("F1 Score:", f1_score(y_test, svm_preds))
print("Recall:", recall_score(y_test, svm_preds))
print("MCC:", matthews_corrcoef(y_test, svm_preds))

print("\nNeural Network:")
print("Confusion Matrix:")
print(confusion_matrix(y_test, nn_preds))
print("Accuracy:", accuracy_score(y_test, nn_preds))
print("F1 Score:", f1_score(y_test, nn_preds))
print("Recall:", recall_score(y_test, nn_preds))
print("MCC:", matthews_corrcoef(y_test, nn_preds))

print("\nKNN:")
print("Confusion Matrix:")
print(confusion_matrix(y_test, knn_preds))
print("Accuracy:", accuracy_score(y_test, knn_preds))
print("F1 Score:", f1_score(y_test, knn_preds))
print("Recall:", recall_score(y_test, knn_preds))
print("MCC:", matthews_corrcoef(y_test, knn_preds))

print("\nLogistic Regression:")
print("Confusion Matrix:")
print(confusion_matrix(y_test, lr_preds))
print("Accuracy:", accuracy_score(y_test, lr_preds))
print("F1 Score:", f1_score(y_test, lr_preds))
print("Recall:", recall_score(y_test, lr_preds))
print("MCC:", matthews_corrcoef(y_test, lr_preds))


print("\nDecision Tree:")
print("Confusion Matrix:")
print(confusion_matrix(y_test, dt_preds))
print("Accuracy:", accuracy_score(y_test, dt_preds))
print("F1 Score:", f1_score(y_test, dt_preds))
print("Recall:", recall_score(y_test, dt_preds))
print("MCC:", matthews_corrcoef(y_test, dt_preds))

print("\nStacked Model:")
print("Confusion Matrix:")
print(confusion_matrix(y_test, stacked_predictions))
print("Accuracy:", accuracy_score(y_test, stacked_predictions))
print("F1 Score:", f1_score(y_test, stacked_predictions))
print("Recall:", recall_score(y_test, stacked_predictions))
print("MCC:", matthews_corrcoef(y_test, stacked_predictions))

### from sklearn.model_selection import cross_val_score

# Evaluate the stacked model using cross-validation
scores = cross_val_score(stacked_model, X_train_stacked, y_train, cv=5)

# Print the mean accuracy and standard deviation
print("Mean accuracy:", scores.mean())
print("Standard deviation:", scores.std())

import numpy as np
# Define the base models
base_models = [LogisticRegression(random_state=1234), DecisionTreeClassifier(random_state=1234), xgb.XGBClassifier(random_state=1234), LinearSVC(random_state=1234), MLPClassifier(random_state=1234),KNeighborsClassifier(), RandomForestClassifier(random_state=1234)  ]
# Train the Logistic Regression model
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

# Assume X_train and y_train are the training data and target labels respectively
# You need to stack the outputs of the base models to form the training data for the meta-classifier
X_train_stacked = np.column_stack([model.predict(X_train) for model in base_models])

from sklearn.model_selection import RandomizedSearchCV
import random

# Define the hyperparameters and the possible values for each one
param_dist = {'learning_rate': [0.01, 0.05, 0.1],
              'max_depth': [3, 5, 7],
              'n_estimators': [100, 200, 300]}

# Create the randomized search object for the meta-classifier
stacked_rand = RandomizedSearchCV(stacked_model, param_distributions=param_dist, 
                                   n_iter=10, scoring='accuracy', cv=5)

# Fit the randomized search to the training data
stacked_rand.fit(X_train_stacked, y_train)

# Print the best hyperparameters
print("Best hyperparameters:", stacked_rand.best_params_)
print("Best accuracy:", stacked_rand.best_score_)